body {
    font-family: Arial, sans-serif;
    background-size: cover;
}

.search-container {
    text-align: center;
    padding: 50px;
}

.search-box {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.submit-button:hover {
    background-color: #3e8e41; 
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}


.results {
    margin-top: 20px;
    text-align: center;
}

.title-container {
    text-align: center;
    margin-top: 50px;  
}

.title-container h1 {
    font-size: 3em; 
    font-family: 'Arial', sans-serif; 
    color: #333; 
    margin-bottom: 0.5em; 
}

.title-container h2 {
    font-size: 2em; 
    font-family: 'Arial', sans-serif;
    color: #666; 
}

#particles-js {
    background-color: #fafafa;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Places the animation behind your content */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Soft background color */
    padding: 20px; /* Padding around the content */
}

h2 {
    color: #333; /* Darker color for the title */
    text-align: center; /* Center align the title */
}

ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    max-width: 600px; /* Max width of the list */
    margin: 20px auto; /* Center the list with auto margins and add spacing */
}

li {
    background-color: #fff; /* White background for list items */
    border: 1px solid #ddd; /* Light border for list items */
    padding: 10px 15px; /* Padding inside list items */
    margin-bottom: 8px; /* Space between list items */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.2s; /* Smooth transition for hover effect */
}

li:hover {
    transform: translateY(-2px); /* Slightly raise the item on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Larger shadow on hover */
}


.back-button-container {
    text-align: center;
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Button color */
    color: white;
    text-decoration: none; /* Removes underline from links */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.back-button:hover {
    background-color: #3e8e41; 
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}